<%= link_to "Back", :back %>
<h1>this is the group index page</h1>
<div>
  <h1>GROUPS</h1>
</div>
<div>
  <p>Group 1</p>
</div>
<div>
  <div><p>Total:</p></div>
  <div><p>0000</p></div>
</div>
<div>
</div>
<%= link_to 'Add Group', new_user_group_path(@user.id), class: "btn btn-success" %>