<% if current_user %>
  <%= link_to 'groups', user_groups_path(@user.id) %>
<% else %>
  <div class="d-flex flex-column align-items-center justify-content-between p-4" style="background-color: #f1f3f2; position: absolute; bottom: 0; top: 0; left: 0; right: 0; z-index: -1;">
    <div style="position: relative; top: 40%;">
      <h1 style="color: #434c53">Budget Rails App</h1>
    </div>
    <div class="w-100 d-flex flex-column align-items-center">
      <%= link_to 'LOG IN', new_user_session_path, class: 'nav-link border border-primary rounded text-center text-white w-100', style: "background-color: #3778c2;" %>
      <%= link_to 'SIGN UP', new_user_registration_path, class: 'nav-link text-secondary text-center mt-1', style: 'width: 90%' %>
    </div>
  </div>
<% end %>